---
import { Image } from "astro:assets";
import Title from "../UI/Title.astro";
import HomeView from "./HomeView.astro";
import { getLocale } from "astro-i18n-aut";
import { loadTranslations } from "../../lib/i18n";
import ErickT from "/public/images/erick_thohir.png"
import ProfH from "/public/images/prof_h_mohamad_nasir.png"
import TetenM from "/public/images/teten_masduki.png"
const locale = getLocale(Astro.url)
const {apresiasi} = await loadTranslations(locale)
type Apresiasi = {
    content:string,
    nama:string,
    peran:string,
    tanggal:string,
}
const imageData = [ErickT, ProfH, TetenM];
---

    <div class="bg-bg py-30">
        <div class="globalLayout">
            <Title set:html={apresiasi.title}/>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 mt-10">
            {apresiasi.data.map((e: Apresiasi, i:number)=>(
                <div class="h-160 flex flex-col">
                    <div class="relative w-full">
                        <Image src={imageData[i]} alt={""}  class="object-cover"/>
                    </div>
                    <div class="bg-secondary-bg flex flex-col justify-between flex-grow p-8 px-12">
                        <p class="">"{e.content}"</p>
                        <div class="text-sm flex flex-col gap-2">
                            <p class="text-primary font-semibold">{e.nama}</p>
                            <p>{e.peran}</p>
                            <p class="opacity-75">{e.tanggal}</p>
                        </div>
                    </div>
                </div>
            ))}</div>
        </div>
    </div>