---
import { getLocale } from 'astro-i18n-aut'
import SubTitle from '../UI/SubTitle.astro'
import Title from '../UI/Title.astro'
import PersentasePie from './PersentasePie.astro'
import { loadTranslations } from '../../lib/i18n'

const locale = getLocale(Astro.url)
const { percentage } = await loadTranslations(locale)
const { title, subtitle, data, info } = percentage
---

<div class="globalLayout text-center">
	<Title set:html={title} />
	<SubTitle>
		{subtitle}
	</SubTitle>
	<div class="mt-16 grid grid-cols-1 place-items-center gap-20 lg:grid-cols-2">
		{
			data.map((item: { value: number; description: string }) => (
				<div class="w-75 md:w-80 2xl:w-100">
					<PersentasePie percentage={item.value} />
					<p class="mt-5 text-2xl md:text-3xl" set:html={item.description} />
				</div>
			))
		}
	</div>
	<p class="mt-40">{info}</p>
</div>
