---
import SubTitle from '../UI/SubTitle.astro'
import Title from '../UI/Title.astro'
import ProgramPendidikanItem from './ProgramPendidikanItem.astro'
import Informatika from '../../../public/images/informatika.jpg'
import Bisnis from '../../../public/images/BISNIS.jpg'
import { getLocale } from 'astro-i18n-aut'
import { loadTranslations } from '../../lib/i18n'

const locale = getLocale(Astro.url)
const { nav,programPendidikan } = await loadTranslations(locale)
---

<div class="globalLayout">
	<Title set:html={programPendidikan.title}/>
	<SubTitle>{programPendidikan.subtitle}</SubTitle>
	<div class="mt-10 flex flex-col gap-10">
		<ProgramPendidikanItem
			title={programPendidikan.programTitles[0]}
			image={Informatika}
			data={nav.programs.informatika}
		/>
		<ProgramPendidikanItem
			title={programPendidikan.programTitles[1]}
			image={Bisnis}
			data={nav.programs.bisnis}
			reverse={true}
		/>
	</div>
</div>
