---
import Button from './Button.astro'
import { Phone, Mail, Instagram, Facebook, Youtube } from '@lucide/astro'
import PrimakaraLogo from '../../../public/images/primakara-logo-removebg-preview-text.png'
import { Image } from 'astro:assets'
import { loadTranslations } from '../../lib/i18n'
import { getLocale } from 'astro-i18n-aut'
import type { LinkType } from '../../types/types.ts'

const locale = getLocale(Astro.url)
const { nav, footer } = await loadTranslations(locale)
---

<div class="bg-bg pt-20">
	<div class="globalLayout grid grid-cols-2 gap-25 md:grid-cols-4">
		<div class="">
			<h1 class="text-xl font-bold">{footer.title1}</h1>
			<div class="mt-8 flex flex-col gap-2 text-lg">
				<p class="">Jalan Tukad Badung No 135, Denpasar, Bali - 80226</p>
				<Button>Lihat Maps</Button>
				<div class="flex items-center gap-3">
					<Phone />
					<p>+62 361 895 6084</p>
				</div>
				<div class="flex items-center gap-3">
					<Mail />
					<p>info@primakara.ac.id</p>
				</div>
				<div class="flex gap-3">
					<div class="border border-white p-2">
						<Instagram class="h-6 w-6" />
					</div>
					<div class="border border-white p-2">
						<Facebook class="h-6 w-6" />
					</div>
					<div class="border border-white p-2">
						<Youtube class="h-6 w-6" />
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<h1 class="text-xl font-bold">{footer.title2}</h1>
			<div class="mt-8 flex flex-col gap-2 text-lg">
				<h1 class="text-slate-400">Fakultas Teknologi Informasi dan Desain</h1>
				{nav.programs.informatika.map((e: LinkType) => <a href={e.link}>{e.title}</a>)}
				<h1 class="mt-5 text-slate-400">Fakultas Teknologi Informasi dan Desain</h1>
				{nav.programs.bisnis.map((e: LinkType) => <a href={e.link}>{e.title}</a>)}
			</div>
		</div>
		<div class="">
			<h1 class="text-xl font-bold">{footer.title3}</h1>
			<div class="mt-8 flex flex-col gap-2 text-lg">
				{nav.desktop.map((e: LinkType) => <a href={e.link}>{e.title}</a>)}
			</div>
		</div>
		<div class="">
			<h1 class="text-xl font-bold">{footer.title4}</h1>
			<div class="mt-8 flex flex-col gap-2 text-lg">
				{nav.addNav.map((e: LinkType) => <a href={e.link}>{e.title}</a>)}
			</div>
		</div>
	</div>
	<div class="mt-10 border-t border-slate-600 py-6">
		<div class="globalLayout flex items-center justify-between">
			<Image src={PrimakaraLogo} alt="Primakara Logo" class="h-fit w-50 brightness-0 invert" />
			<h1 class="">Copyright © 2023 Primakara University</h1>
			<h1>Design by Nextap</h1>
		</div>
	</div>
</div>
